@import "design-system.scss";

.App {
  .chat {
    .header {
      background-color: map-get($colors, "background1");
      color: map-get($colors, "white");
      padding: 16px 20px;
      
      font-size: 18px;
    }
    
    .message-list-row {
      .message-list-col {
        height: 400px;

        .message-row {
          justify-content: start;
          
          .message-col {
            background-color: map-get($colors, "background2");
            padding: 16px 16px 4px 16px;
            margin: 9px;
            border-radius: 8px;
            
            .sender {
              font-size: 12px;
            }
            
            .text {
              font-size: 16px;
            }
            
            .date {
              font-size: 16px;
              color: map-get($colors, "gray3") 
            }
          }
          
          
          &.own {
            justify-content: end;
            
            .message-col {
              background-color: map-get($colors, "gray1");
              color: map-get($colors, "white");
              
              .date {
                text-align: right;
              }
            }
          }
        }
      }
    }

    .new-message-row {
      .new-message-col {
        text-align: right;

        textarea {
          width: 100%;
          height: 84px;
          border: 1px solid map-get($colors, "gray4");
          border-radius: 8px;
          resize: none;
          padding: 16px;
          color: map-get($colors, "gray2");
        }
  
        .counter {
          width: 100%;
          position: relative;
          top: -36px;
          right: 10px;
          color: map-get($colors, "gray4")
        }
      }
    }

    .send-message-row {
      .send-message-col {
        display: flex;
        justify-content: end;

        button {
          padding: 14px 40px;
          border: 0;
          border-radius: 8px;
          background-color: map-get($colors, "primary");
          color: map-get($colors, "white");
          width: 186px;
        }
      }
    }
  }
}